body {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color: #f8971f;
    color: white;
    padding: 20px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    position: relative; 
}

.logo {
    max-width: 200px;
    margin-right: 20px;
    border-right: 2px solid white; /* Vertical line after the logo */
    padding-right: 20px; /* Padding to space out the line from the logo */
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin: 0;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    margin-left: 10px;
    display: block;
}

.social-links img {
    width: 24px;
    height: 24px;
}

main {
    padding: 20px 0;
}

.intro, .locations {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.intro h2, .locations h2 {
    color: #f8971f;
}

.locations ul {
    list-style: none;
    padding: 0;
}

.locations li {
    margin: 10px 0;
}

.map-container {
    text-align: right; /* Aligns the map to the right */
    margin-top: 20px;
    display: block;
    overflow: hidden; /* Ensures no overflow of the map outside its container */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: 0.9em;
    margin: 0;
}

footer a {
    color: #f8971f;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
