body {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color: #f8971f;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

header .container {
    position: relative;
    text-align: center;
}

header .logo {
    max-width: 200px; /* Adjust logo size to 200px */
    margin: 0 auto; /* Center logo */
    display: block; /* Ensures the logo takes up the full width of its container for proper alignment */
    padding-bottom: 10px; /* Space below the logo before the line */
    border-bottom: 2px solid white; /* Adding the white line under the logo */
}

header h1 {
    margin-top: 20px; /* Adding space above the title to separate it from the logo line */
    margin-bottom: 0;
    font-size: 2.5em;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

.container {
    width: 80%;
    margin: 0 auto;
}

main {
    padding: 20px 0;
}

.intro, .locations {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.intro h2, .locations h2 {
    color: #f8971f;
}

.locations ul {
    list-style: none;
    padding: 0;
}

.locations li {
    margin: 10px 0;
}

.map-container {
    margin-top: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

footer a {
    color: #f8971f;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
